@model IEnumerable<Pizza_project.Models.Status>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StatusID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StatusID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StatusID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
